.navbar-item.is-expanded{
	justify-content: center;
}

.navbar.is-fixed-bottom, .navbar.is-fixed-top {
	position: sticky;
}

.navbar.is-fixed-top {
	height: 10vh;
}
.navbar.is-fixed-bottom {
	height: 7vh;
}
.hero{
	min-height: 83vh;
}

.close-icon {
	cursor: pointer;
}
  
.close-icon:hover {
	opacity: .7;
}

#cooking_table,#ingredient_table{
	width:100%;
}

.width95{
	width:95%;
}

.width55{
	width:55%;
}

.width35{
	width:35%;
}
.width5{
	width:5%;
	vertical-align:middle;
}

.width55 input,.width35 input,.width95 textarea{
	width:95%
}

.txt-limit {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; /* 任意の行数を指定 */
  }

.media_recipe_image{
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.media_recipe_imege img{
	max-height:100%;
	width:auto;
	max-width:100%;
	height:auto;
}

.media_recipe :hover{
    background-color: hsl(219, 70%, 96%);
}