.navbar-item.is-expanded{
	justify-content: center;
}

.navbar.is-fixed-bottom, .navbar.is-fixed-top {
	position: sticky;
}

.navbar.is-fixed-top {
	height: 10vh;
}
.navbar.is-fixed-bottom {
	height: 7vh;
}
.hero{
	min-height: 83vh;
}